@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Italiana";
    src: url(../Fonts/Italiana/Italiana-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../Fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../Fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../Fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../Fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../Fonts/Poppins/Poppins-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../Fonts/Poppins/Poppins-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url(../Fonts/Manrope/static/Manrope-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url(../Fonts/Manrope/static/Manrope-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url(../Fonts/Manrope/static/Manrope-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url(../Fonts/Manrope/static/Manrope-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url(../Fonts/Manrope/static/Manrope-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url(../Fonts/Manrope/static/Manrope-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

@layer utilities {
    @media (max-width: 1200px) {
        .max-w-1200 {
            max-width: 1200px;
        }
    }

    @media (max-width: 992px) {
        .max-w-992 {
            max-width: 992px;
        }
    }

    @media (max-width: 768px) {
        .max-w-768 {
            max-width: 768px;
        }
    }
}